# Use NodeJS 18 for compatibility with all packages
engine-strict=true
node-version=18.x

# Force installation of dependencies, even if peer dependencies aren't satisfied
legacy-peer-deps=true

# Ensure packages needed for serverless environments are installed
public-hoist-pattern[]=@neondatabase/serverless 